@using Entity.Concrete
@model Salon
@{
    ViewBag.Title = "AddSalon";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Admin/css/style2.css" rel="stylesheet" />
<h2>Salon Ekle</h2>
@using (Html.BeginForm("AddSalon", "Salon", FormMethod.Post, new
{ @class = "form-group" }))
{
    @Html.Label("Salon Adı")
    <br />
    @Html.TextBoxFor(x => x.salonAd, new { @class = "form-control" })
    <div id="salonAd" class="validation-container">
         @Html.ValidationMessageFor(x => x.salonAd)
    </div>

    <br />
    @Html.Label("Konum")
    <br />
    @Html.TextBoxFor(x => x.konum, new { @class = "form-control" })
    <div id="konum" class="validation-container">
         @Html.ValidationMessageFor(x => x.konum)
    </div>
    <br />
    @Html.Label("Kapasite")
    <br />
    @Html.TextBoxFor(x => x.kapasite, new { @class = "form-control" })
    <div id="kapasite" class="validation-container">
         @Html.ValidationMessageFor(x => x.kapasite)
    </div>
    <br />
    @Html.Label("Desteklediği Teknolojiler")
    <br />
    @Html.TextBoxFor(x => x.destekledigiTeknoloji, new { @class = "form-control" })
    <div id="destekledigiTeknoloji" class="validation-container">
         @Html.ValidationMessageFor(x => x.destekledigiTeknoloji)
    </div>
    <br />
    @Html.Label("Durum")
    <br />
    <select name="durum" class="form-control">
        <option value=true>True</option>
        <option value=false>False</option>
    </select>
    <br />
    <input type="submit" value="Ekle" class="form-control bg-fuchsia mt-5" />
}

