@using Entity.Concrete
@model CastKadro
@{
    ViewBag.Title = "AddCast";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kast Ekle</h2>

@using (Html.BeginForm("AddCast", "Cast", FormMethod.Post, new
{ @class = "form-group" }))
{
    @Html.Label("Unvan")
    <br />
    @Html.TextBoxFor(x => x.unvan, new { @class = "form-control" })
    <div id="unvan" class="validation-container">
        @Html.ValidationMessageFor(x => x.unvan)
    </div>

    <br />
    @Html.Label("Ad")
    <br />
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <div id="ad" class="validation-container">
        @Html.ValidationMessageFor(x => x.ad)
    </div>

    <br />
    @Html.Label("Soyad")
    <br />
    @Html.TextBoxFor(x => x.soyad, new { @class = "form-control" })
    <div id="soyad" class="validation-container">
        @Html.ValidationMessageFor(x => x.soyad)
    </div>

    <br />
    @Html.Label("Acıklama")
    <br />
    @Html.TextBoxFor(x => x.aciklama, new { @class = "form-control" })
    <div id="aciklama" class="validation-container">
        @Html.ValidationMessageFor(x => x.aciklama)
    </div>

    <br />
    @Html.Label("Durum")
    <br />
    <select name="durum" class="form-control">
        <option> Seçiniz</option>
        <option value=true>True</option>
        <option value=false>False</option>
    </select>

    <br />


    <input type="submit" value="Ekle" class="form-control bg-fuchsia mt-5" />
}

