@using Entity.Concrete
@model Slider
@{
                /**/

                ViewBag.Title = "updateSlider";
                Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Slider Güncelle</h2>
@using (Html.BeginForm("updateSlider", "Slider", FormMethod.Post, new
{ @class = "form-group" }))
{@Html.HiddenFor(x => x.sliderId);
@Html.Label("Başlık")
<br />
@Html.TextBoxFor(x => x.baslik, new { @class = "form-control" })
<div id="baslik" class="validation-container">
    <!-- @Html.ValidationMessageFor(x => x.baslik)-->
</div>
@Html.Label("İçerik")
<br />
@Html.TextBoxFor(x => x.icerik, new { @class = "form-control" })
<div id="icerik" class="validation-container">
    <!-- @Html.ValidationMessageFor(x => x.icerik)-->
</div>
<br />
@Html.Label("Resim")
<br />
<input type="file" name="resimUrl">
<div id="resimUrl" class="validation-container">
    @Html.ValidationMessageFor(x => x.resimUrl)
</div>
<br />
<input type="submit" value="Güncelle" class="form-control bg-fuchsia mt-5" />
}

